.container{
    display: flex; 
    width:80%;
}

.floatleft {
    float:left; 
    width: 60%;
    height: 400px;
    padding-top: 40px;
    padding-right:10%;
    margin-block-end: auto;
}

.floatright {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    float: right;
    height: auto;
    width: 30%;
    margin-block-start: 15%;
}

.image{
    margin-block-start: 12%;
}

.image-login{
    margin-block-start: 12%;
    width:100%;
}

.link{
    color: rgb(16, 110, 190);
    text-decoration: none;
}

